body {
  background: url('./img/night-sky-in-hamden.png') no-repeat;
  background-size: 100%;
}

@keyframes rotating {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

@keyframes opacityNull {
  from {
    opacity: 1;
    display: block;
    height: 60px;
  }

  to {
    opacity: 0;
    display: none;
    height: 0px;
  }
  
}

@keyframes slideIn {
  from {
    opacity: 0;
    right: -100px;
  }
  to {
    opacity: 0.7;
    right: 0px;
  }
}

@keyframes slideOut {
  from {
    opacity: 0.5;
    right: 0px;
  }
  to {
    opacity: 0.0;
    right: -100px;
  }
}

.op {
  position: fixed;
  top: 50px;
  left: 50vw;
  margin-left: -215px;
  animation: opacityNull 8s linear 1;
  animation-fill-mode: forwards;
  color: white;
  font-size: 20px;
}
.hello {
  color: white;
  text-shadow: 0 0 0.5px black;
}
.hello>img {
  transition: 1s;
}
.hello>img:hover {
  filter: drop-shadow(0 0 4px white)
}

.cntr {
  position: relative;
  top: 0vh;
}
.planet {
  cursor: pointer;
  transition: 0.5s;
  /*animation: rotating 10s linear infinite;*/
}
#sun {
  cursor: pointer;
  transition: 1s;
  position: relative;
  top: 35%;
  left: 13%;
  
}
#sun:hover, .planet:hover {
  filter: drop-shadow(0px 0px 4px blue);
  
}

.spin {
  border-radius: 50%;
  border: solid 1px white;
  
}

#planet1 {
  width: 200px;
  height: 200px;
  top: 50%;
 margin-top: 50px;
 

}

#planet2 {
  width: 400px;
  height: 400px;
  margin-top: 50px;
  

}

#planet3 {
  width: 600px;
  height: 600px;
  
  

}

.planet {
  width: 50px;
  top: -25px;
  position: relative;
  
}
#sat {
  top: -25px;
  animation: rotating 10s linear infinite;
}

#earth {
  left: -200px;
  top: 200px;
  animation: rotating 6s linear infinite;
}

#mars {
  left: 300px;
  top: 300px;
  animation: rotating 5s linear infinite;
}

.cart, .cart>img {
  height: 60px;
  cursor: pointer;
  width: 60px;
  position: absolute;
  bottom: 0px;
  right: 10px;
  transition: 1s;
}

.cart:hover, .cart>img:hover {
  filter: drop-shadow(0px 0px 4px white);
}

.badge { 
  position: absolute;
}

.hidden_cart {
  position: fixed;
  /*right: -100px;*/
  height: 100vh;
  width: 100px;
  color: white;
  border-left: solid 1px #CECBCB;
  opacity: 0.5;
  transition: 1s;
}
#closeCart {
  cursor: pointer;
  color: white;
}
.hiddenCRT { 
  display: block !important;
  animation: slideOut 1s linear;
  animation-fill-mode: forwards;
}

.visible {
  display: block;
  animation: slideIn 1s linear;
  animation-fill-mode: forwards;
  
  
}

.hidden_cart:hover{
  opacity: 1;
}

#ul_cart {
  list-style: none;
  padding-top: 40px;
}

#ul_cart > li {
    padding: 10px;
    padding-left: 0px;
    margin-left: -15px;
}